---
layout: default
title: Shop
abstract: Checkout this crazy discounts!
visualURL: /images/shop/shop-teaser.jpg
visualURL-M: /images/shop/shop-teaser-M.jpg
warning:
  color: danger
  content: Testing Mode, do not order yet!
---

<div class="feature-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-feature card-stretch">
          <div class="card-content">
            <div class="row">
              <div class="col-md-7 card-description">
                <h3 class="title">ViDock-One — <span>Standard Edution</span></h2>
                <p>ViDock-One removes all your computer gear from your desk, docking and hiding it behind your display; effectively turning any computer form factor into a portable All-in-One.<br>
                &nbsp;&nbsp;&nbsp;CNC precision cut from aircraft grade aluminum with beech hardwood inserts to protect your sensitive computer gear. ViDock-One comes with two options for light and dark wood. 50-Year Lifetime Guarantee, backed up by our 10-Year No Nonsense Warranty.</p>
              </div>
              <div class="col-md-5 card-item">
                <img class="img-responsive" src="{{site.baseurl}}/images/products/vidock-one/vidock-one-overview.jpg">
                <div class="price-container"> 
                  <span class="price">$149</span>
                </div>
                <a class="btn btn-warning btn-accent btn-round">{% include icons/cart-plus.html%} Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col-sm-6">
        <div class="card card-feature card-feature-special card-stretch">
          <div class="card-content">
            <div class="row">
              <div class="col-lg-7 col-md-6 card-description">
                <h3 class="title">ViDock-One — <br><span style="color: #FFAB40; font-size: 1.2em; line-height: 1em">Vanguard Limited Edition</span></h2>
                <p>All goodness of the standard edition with an added small token of our appreciation to our community. With your low serial number you can show off without a doubt your vanguard skills. And, just in case this new Modular-in-One form factor becomes as successful as we all believe, years down the road your ViDock-One Vanguard Edition will not only still be there, it may be a collector's item of serious value.</p>
                <p style="margin-top: 10px;font-size: 0.85em;color: #999;">Numbered, limited quantity: 99 pcs — <em>0</em> pcs remaining (<em>SOLD OUT</em>)</p>
              </div>
              <div class="col-lg-5 col-md-6 card-item">
                <img class="img-responsive" src="{{site.baseurl}}/images/products/vidock-one/vidock-one-overview.jpg">
                <div class="price-container"> 
                  <span class="price">$149</span>
                </div>
                <a class="btn btn-accent btn-round">{% include icons/cart-plus.html%} Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="feature-section" style="background-color: #FFF">
  <div class="container">
    <h1 class="title text-center">Safe Shopping</h1>
    <div class="row text-center">
      <div class="col-md-3">
        <div class="info">
          <img class="img-responsive" src="{{site.baseurl}}/images/products/payments.png">
          <h3 class="info-title">Safe & Secure Payment</h3>
          <p>When you check out, your order is safely processed through Shopify and PayPal. If you have no PayPal account, you can enter your credit card information and then pay. <a href="#plabo">Read More ...</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <img class="img-responsive center-block img-circle img-raised" src="{{site.baseurl}}/images/products/support.jpg">
          <h3 class="info-title">Competent Support</h3>
          <p>All our support staff is in-house and part of our development team. You post your support request on our Facebook page or our ticket system and we typically get back to you in under two working days. <a href="#plabo">Read More ...</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <img class="img-responsive" src="{{site.baseurl}}/images/products/shipping-map.jpg">
          <h3 class="info-title">Local</h3>
          <p>We have local warehouses in Las Vegas, Hamburg and Guangzhou. This means for USA and European customers the product is already imported, all customs and import tax paid. Low shipping costs too.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <img class="img-responsive center-block" src="{{site.baseurl}}/images/products/warranty-seal.png">
          <h3 class="info-title">Warranty & Returns</h3>
          <p>We guaranty our products to last 50 years, backed up by a 10 year warranty. In the rare event that you must repair or return the product we make it straight forward. <a href="#plabo">Read More ...</a></p>
        </div>
      </div>
    </div>
  </div>
</div>