---
layout: product
title: ViDock plate
warning:
  color: danger
  content: Developer site! Click "?" for more.
---

<div class="feature-section feature-slideshow product-style-slide" style="margin-top: 50px">
  <slick-slide class="slider img-raised" slides-to-show="3" center-mode="false">
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-One-Studio.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Plate-Kit-Docking-Front.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Glass-Table.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Gaming.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Portable.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/vidock-one-photographer.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViCase-Mandala-ViDock-Space.jpg"></div>
  </slick-slide>
</div>

<div class="feature-section" id="product-showcase">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="product-slide">
        <slick class="slider product-slide" dots="true" adaptive-height="true">
          <div>
            <p>Solution to clean up your cable & dongle mess.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Product.jpg">
          </div>
          <div>
            <p><strong>What:</strong> Mounting plate with a veritable plethora of fasteners!</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Product-What.jpg">
          </div>
          <div>
            <p><strong>Why:</strong> Clutter free by hiding cable & dongle mess.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Use.jpg">
          </div>
          <div>
            <p><strong>Where:</strong> It mounts wherever it works best for you. </p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Where.jpg">
          </div>
          <div>
            <p><strong>When…:</strong> you just can't stand it anymore.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When.jpg">
          </div>
          <div>
            <p><strong>How…</strong> to attach your mess to ViDock-Plate.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Gear.jpg">
          </div>
          <div>
            <p><strong>Who…</strong> is inspired by a clean desk!</p>
            <img class="img-responsive" style="max-width: 640px" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Why-01-540.jpg">
          </div>
          <div>
            <p><strong>Example Docking:</strong> Holds and hides any docking station</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Docking.jpg">
          </div>
          <div>
            <p><strong>Example Desktop:</strong> Bye-bye messy cables / trouble cleaning floor.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Desktop.jpg">
          </div>
          <div>
            <p><strong>Example TV:</strong> Clean living room improves atmosphere!</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-TV.jpg">
          </div>
          <div>
            <p><strong>Example Monitor-Arm:</strong> Your gear within arm's reach.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Arm.jpg">
          </div>
          <div>
            <p><strong>Get a Grip:</strong> More fun by increasing portability.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Grip.jpg">
          </div>
          <div>
            <p><strong>Charging Station:</strong>  Add charging without adding clutter.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Charging.jpg">
          </div>
          <div>
            <p><strong>Grow:</strong> ViDock-System grows with your needs.</p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Grow.jpg">
          </div>
          <div>
            <p><strong>Deeper:</strong> More Ideas and Know How → <a href="{{site.baseurl}}/how-to/">How To</a></p>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Deeper.jpg">
          </div>
        </slick>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 col-lg-offset-2" id="product-buy">
        <h1 class="product-title title">
          ViDock Plate Kit <br>
          <small>Standard Edition {% include icons/help-circle.html %}</small>
        </h2>
        <h3 class="product-price">$39</h3>
        <button class="btn btn-warning btn-round product-add-to-cart">{% include icons/cart-plus.html %} Add to Cart</button>
        <div style="margin-top: 50px;">
          <p class="product-caption">Free continental shipping in US for orders over $50</p>
          <div class="product-warrenties">
            <p>50 Year & Satisfaction Gurantee / 10 Year Warranty {% include icons/help-circle.html %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-section feature-intro feature-intro-text" style="padding: 30px 0 35px 0">
  <div class="container intro-container text-center">
    <h3>Dock and Hide your cable and dongle mess!</h3>
    <p>We set ourselves the mission impossible: Build a thingamabob that:</p>
    <ul style="text-align: left;max-width: 573px;margin-left: auto;margin-right: auto">
      <li>Organizes cable and dongle clutter</li>
      <li>Mounts it out of sight</li>
      <li>Does not cost you an arm and a leg</li>
      <li>Yet is versatile and strong enough to  last through computer and display generations.</li>
    </ul>
    <p>Please welcome ViDock-Plate-Kit, part of the new product category Dock-n-Hide™.</p>
  </div>
</div>

<div class="feature-section feature-modules">
  <div class="container">
    <div class="row row-flex row-sm-flex">
      <div class="feature-text col-md-4 col-sm-6 col-md-offset-1 vertical-align-wrapper">
        <div class="vertical-align">
          <h3 class="title">
            Adapts to Any Form Factor
          </h3>
          <p>Whether the centerpiece of your work/play space is a mini-PC, a desktop, laptop, tablet, set-top box, or a docking station, ViDock-Plate-Kit lets you hide and organize the one problem they all have in common – cable and dongle clutter. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-offset-1">
        <div class="card transparent-card" style="max-width: 640px; margin: 0 auto;display: block;">
          <div class="content">
            <div class="card-nav-tabs tab-material">
              <div class="header header-full header-transparent header-material header-thin first-tab">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="active">
                        <a href="#mini-pc" data-toggle="tab">
                          {% include icons/mini-2-opt.html %}
                          <span>Mini-PC</span>
                        </a>
                      </li>
                      <li>
                        <a href="#desktop" data-toggle="tab">
                          {% include icons/desktop-tower.html %}
                          <span>Desktop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#notebook" data-toggle="tab">
                          {% include icons/laptop-windows.html %}
                          <span>Laptop</span>
                        </a>
                      </li>
                      <!--<li>
                        <a href="#tablet" data-toggle="tab">
                          {% include icons/tablet-android.html %}
                          <span>Tablet</span>
                        </a>
                      </li>-->
                      <li>
                        <a href="#tv" data-toggle="tab">
                          {% include icons/television-classic.html %}
                          <span>TV</span>
                        </a>
                      </li>
                      <li>
                        <a href="#gpu" data-toggle="tab">
                          {% include icons/gpu-card.html %}
                          <span>eGPU/Dock</span>
                        </a>
                      </li>
                    </ul>
                    </div>
                  </div>
                </div>
                <div class="content img-raised">
                  <div class="tab-content">
                    <div class="tab-pane active" id="mini-pc">
                      <div class="embed-responsive embed-responsive-16by9">
                        <juxtapose class="embed-responsive-item"
                        before-image-url="'{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When-Before.jpg'"
                        before-image-label="'Before'"
                        after-image-url="'{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When-After.png'"
                        after-image-label="'After'">
                        </juxtapose>
                      </div>
                    </div>
                    <div class="tab-pane" id="desktop">
                      <!--<h4>Desktop-SFF → Modular-in-One PC
                        <button class="btn btn-primary btn-simple btn-small" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-title="Compatibiliy" data-content="The Desktop-SFF (Small Form Factor) case shown is the <a href='http://www.silverstonetek.com/product.php?pid=533' target='_blank'>Silverstone FTZ01</a>, a 14L case with the dimensions: 376 (H) x 351 (W) x 107 (D) mm. Your case will be compatible if its depth is < 120mm. If you have a bigger case, you can make your computer compatible by changing its case to a SFF case, such as the <a href='http://www.silverstonetek.com/product.php?pid=533' target='_blank'>Silverstone FTZ01.</a><br><img class='img-responsive' style='max-width: 170px; margin: 0 auto' src='http://www.silverstonetek.com/images/products/ftz01/ftz01b-34left.jpg'>" data-html="true">More</button></h4>-->
                        <div class="embed-responsive embed-responsive-16by9">
                          <juxtapose class="embed-responsive-item"
                          before-image-url="'{{site.baseurl}}/images/home/Desktop-Before.jpg'"
                          before-image-label="'Before'"
                          after-image-url="'{{site.baseurl}}/images/home/Desktop-After.jpg'"
                          after-image-label="'After'">
                        </juxtapose>
                      </div>
                    </div>
                  <div class="tab-pane" id="notebook">
                    <!--<h4>Laptop → Modular-in-One Docking
                      <button class="btn btn-primary btn-simple btn-small" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-content="You have two more placement options:<img class='img-responsive' src='{{site.baseurl}}/images/home/laptop.jpg'><img class='img-responsive' src='{{site.baseurl}}/images/home/laptop-lift.jpg'>" data-html="true">More</button></h4>-->
                      <div class="embed-responsive embed-responsive-16by9">
                        <juxtapose class="embed-responsive-item"
                        before-image-url="'{{site.baseurl}}/images/home/Laptop-Before.jpg'"
                        before-image-label="'Before'"
                        after-image-url="'{{site.baseurl}}/images/home/Laptop-After.jpg'"
                        after-image-label="'After'">
                      </juxtapose>
                    </div>
                  </div>
                  <!--<div class="tab-pane" id="tablet">
                    <h4>Tablet → Modular-in-One Docking</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                      <juxtapose class="embed-responsive-item"
                      before-image-url="'{{site.baseurl}}/images/home/Tablet-Before.jpg'"
                      before-image-label="'Before'"
                      after-image-url="'{{site.baseurl}}/images/home/Tablet-After.jpg'"
                      after-image-label="'After'">
                    </juxtapose>
                  </div>
                </div>-->
                <div class="tab-pane" id="tv">
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                    before-image-url="'{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-TV-Before.png'"
                    before-image-label="'Before'"
                    after-image-url="'{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-TV-After.png'"
                    after-image-label="'After'">
                    </juxtapose>
                </div>
                </div>
                <div class="tab-pane" id="gpu">
                  <!--<h4>Powerful Modular-in-One Docking Station
                    <button class="btn btn-primary btn-simple btn-small" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-content="There are lots of powerful docking stations / external GPU (eGPU) solutions available for laptop and tablet. Shown: ViDock. Another example is the <a href='https://www.razerzone.com/gaming-systems/razer-blade-stealth#work-play' target='_blank'>Razer-Core</a> , the <a href='http://www.sonnettech.com/product/thunderbolt/index.html' target='_blank'>Sonnet Echo family</a> and many others. Any box will fit ViDock-One's bracket as long as one side is < 120 mm.<img class='img-responsive' style='margin: 0 auto' src='{{site.baseurl}}/images/home/razer-core.png'>" data-html="true">More</button></h4>-->
                    <div class="embed-responsive embed-responsive-16by9">
                      <juxtapose class="embed-responsive-item"
                      before-image-url="'{{site.baseurl}}/images/home/eGPU-Before.jpg'"
                      before-image-label="'Before'"
                      after-image-url="'{{site.baseurl}}/images/home/eGPU-After.jpg'"
                      after-image-label="'After'">
                    </juxtapose>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
</div>

<hr style="border-bottom: 1px solid #dadedf">



<div class="feature-section feature-modules">
  <div class="container">
    <div class="row row row-flex row-sm-flex">
      <div class="col-sm-6 col-md-offset-1">
        <div class="card transparent-card" style="max-width: 640px; margin: 0 auto;display: block;">
          <div class="content">
            <div class="card-nav-tabs tab-material">
              <div class="header header-full header-transparent header-material header-thin first-tab">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="active">
                        <a href="#system-basic" data-toggle="tab">
                        Basic
                        </a>
                      </li>
                      <li>
                        <a href="#system-extreme" data-toggle="tab">
                        Extreme
                        </a>
                      </li>
                      <li>
                        <a href="#system-where" data-toggle="tab">
                        Where
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="content img-raised">
                <div class="tab-content">
                  <div class="tab-pane active" id="system-basic">
                    <div class="callout-container" style="max-width: 640px" data-tabs="tabs">
                      <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-SystemBasic.png">
                      <ul style="list-style:none;margin:0;padding:0">
                        <li class="callout active" style="top: 32%;left: 49%;">
                          <a data-toggle="tab" href="#test1"></a>
                        </li>
                        <li class="callout" style="top: 2%;left: 52%;">
                          <a data-toggle="tab" href="#test2"></a>
                        </li>
                        <li class="callout" style="top: 7%;left: 41%;">
                          <a data-toggle="tab" href="#test3"></a>
                        </li>
                        <li class="callout" style="top: 71%;left: 55%;">
                          <a data-toggle="tab" href="#test4"></a>
                        </li>
                        <li class="callout" style="top: 71%;left: 67%;">
                          <a data-toggle="tab" href="#test5"></a>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-content" style="padding: 20px">
                      <p id="test1" class="tab-pane active">
                        <strong>VESA Displays 22” … 34”</strong> ViStand is compatible with any display ranging in size from 22” … 34” and having a 75 mm or 100 mm VESA mount.
                      </p>
                      <p id="test2" class="tab-pane">
                        <strong>Webcam</strong> ViStand is all about recycling computer parts you already have. Say you own a display without a webcam. Simply purchase and place a webcam on your display. The webcam itself is not a ViStand feature. However, hiding and organizing its cable is. Explore ViStand Organizes Cable Clutter and The ViStand Design to see in more detail just how ViStand helps keep your desk free of cable clutter.
                      </p>
                      <p id="test3" class="tab-pane">
                        <strong>Microphone</strong> If you own a webcam it probably has a built-in microphone. But if all you need is a microphone, you can use a lapel type mic with a specialized display clip. The Audio Technica ATR4650 Mic is a great example.
                      </p>
                      <p id="test4" class="tab-pane">
                        <strong>Parked Keyboard</strong> The space occupied by your keyboard is perhaps the most valuable real estate on your desktop. Reclaim that space to draw, write, or doodle by parking your keyboard in ViStand’s convenient shelf.
                      </p>
                      <p id="test5" class="tab-pane">
                        <strong>Parked Headset</strong> Headsets are great in a conference or for gaming, but otherwise they can get in the way. The ViStand headset holder gets them out of the way. Barely visible, yet within easy reach when you get a call.
                      </p>
                    </div>
                  </div>
                  <div class="tab-pane" id="system-extreme">
                    <div class="callout-container" style="max-width: 640px" data-tabs="tabs">
                      <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Grow.jpg">
                      <ul style="list-style:none;margin:0;padding:0">
                        <li class="callout active" style="top: 32%;left: 49%;">
                          <a data-toggle="tab" href="#test1-1"></a>
                        </li>
                        <li class="callout" style="top: 2%;left: 52%;">
                          <a data-toggle="tab" href="#test1-2"></a>
                        </li>
                        <li class="callout" style="top: 7%;left: 41%;">
                          <a data-toggle="tab" href="#test1-3"></a>
                        </li>
                        <li class="callout" style="top: 71%;left: 55%;">
                          <a data-toggle="tab" href="#test1-4"></a>
                        </li>
                        <li class="callout" style="top: 71%;left: 67%;">
                          <a data-toggle="tab" href="#test1-5"></a>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-content" style="padding: 20px">
                      <p id="test1-1" class="tab-pane active">
                        <strong>VESA Displays 22” … 34”</strong> ViStand is compatible with any display ranging in size from 22” … 34” and having a 75 mm or 100 mm VESA mount.
                      </p>
                      <p id="test1-2" class="tab-pane">
                        <strong>Webcam</strong> ViStand is all about recycling computer parts you already have. Say you own a display without a webcam. Simply purchase and place a webcam on your display. The webcam itself is not a ViStand feature. However, hiding and organizing its cable is. Explore ViStand Organizes Cable Clutter and The ViStand Design to see in more detail just how ViStand helps keep your desk free of cable clutter.
                      </p>
                      <p id="test1-3" class="tab-pane">
                        <strong>Microphone</strong> If you own a webcam it probably has a built-in microphone. But if all you need is a microphone, you can use a lapel type mic with a specialized display clip. The Audio Technica ATR4650 Mic is a great example.
                      </p>
                      <p id="test1-4" class="tab-pane">
                        <strong>Parked Keyboard</strong> The space occupied by your keyboard is perhaps the most valuable real estate on your desktop. Reclaim that space to draw, write, or doodle by parking your keyboard in ViStand’s convenient shelf.
                      </p>
                      <p id="test1-5" class="tab-pane">
                        <strong>Parked Headset</strong> Headsets are great in a conference or for gaming, but otherwise they can get in the way. The ViStand headset holder gets them out of the way. Barely visible, yet within easy reach when you get a call.
                      </p>
                    </div>
                  </div>
                  <div class="tab-pane" id="system-where">
                    <div class="callout-container" style="max-width: 640px" data-tabs="tabs">
                      <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Where.jpg">
                      <ul style="list-style:none;margin:0;padding:0">
                        <li class="callout active" style="top: 32%;left: 49%;">
                          <a data-toggle="tab" href="#test1-1"></a>
                        </li>
                        <li class="callout" style="top: 2%;left: 52%;">
                          <a data-toggle="tab" href="#test1-2"></a>
                        </li>
                        <li class="callout" style="top: 7%;left: 41%;">
                          <a data-toggle="tab" href="#test1-3"></a>
                        </li>
                        <li class="callout" style="top: 71%;left: 55%;">
                          <a data-toggle="tab" href="#test1-4"></a>
                        </li>
                        <li class="callout" style="top: 71%;left: 67%;">
                          <a data-toggle="tab" href="#test1-5"></a>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-content" style="padding: 20px">
                      <p id="test1-1" class="tab-pane active">
                        <strong>VESA Displays 22” … 34”</strong> ViStand is compatible with any display ranging in size from 22” … 34” and having a 75 mm or 100 mm VESA mount.
                      </p>
                      <p id="test1-2" class="tab-pane">
                        <strong>Webcam</strong> ViStand is all about recycling computer parts you already have. Say you own a display without a webcam. Simply purchase and place a webcam on your display. The webcam itself is not a ViStand feature. However, hiding and organizing its cable is. Explore ViStand Organizes Cable Clutter and The ViStand Design to see in more detail just how ViStand helps keep your desk free of cable clutter.
                      </p>
                      <p id="test1-3" class="tab-pane">
                        <strong>Microphone</strong> If you own a webcam it probably has a built-in microphone. But if all you need is a microphone, you can use a lapel type mic with a specialized display clip. The Audio Technica ATR4650 Mic is a great example.
                      </p>
                      <p id="test1-4" class="tab-pane">
                        <strong>Parked Keyboard</strong> The space occupied by your keyboard is perhaps the most valuable real estate on your desktop. Reclaim that space to draw, write, or doodle by parking your keyboard in ViStand’s convenient shelf.
                      </p>
                      <p id="test1-5" class="tab-pane">
                        <strong>Parked Headset</strong> Headsets are great in a conference or for gaming, but otherwise they can get in the way. The ViStand headset holder gets them out of the way. Barely visible, yet within easy reach when you get a call.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-text col-md-4 col-sm-6 col-md-offset-1 vertical-align-wrapper">
        <div class="vertical-align">
          <h3 class="title">It Actually Works!</h3>
          <p>Explore for yourself how we turned the mission impossible into reality! Where does all your gear, dongles, and cables go? How do the fasteners work? How is the system versatile and adaptive? How is it strong and long lasting?  How does it grow with your needs? How to prevent this dense assembly from overheating? How can you mount it virtually anywhere?</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-section" style="background-color: #EEEEEE;">
  <div class="container text-container text-center">
    <h2 class="title">User Gallery</h2>
    <slick class="slider" style="max-width: 640px; margin: 0 auto">
      <div>
        <img src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-TV.jpg" alt="">
        <blockquote>
          <p>THIS IS AWESOME</p>
          <small>Superman, savior of earth</small>
        </blockquote>
      </div>
      <div>
        <img src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When.jpg" alt="">
        <blockquote>
          <p>Cables now don't get in the way of the swing</p>
          <small>Thor, a puny God</small>
        </blockquote>
      </div>
    </slick>
    <button class="btn btn-accent btn-round text-center">{% include icons/upload.html %}Submit your pictures</button>
  </div>
</div>


<div class="feature-section feature-tabs">
  <div class="container">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-navigation">
				<div class="nav-tabs-wrapper">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#spec" data-toggle="tab">Spec</a></li>
						<li><a href="#details" data-toggle="tab">Details</a></li>
            <li><a href="#how-to" data-toggle="tab">How-To</a></li>
            <li><a href="#compare" data-toggle="tab">Compare</a></li>
						<li><a href="#faq" data-toggle="tab">FAQ</a></li>
					</ul>
				</div>
			</div>
    </div>
  </div>
</div>

<div class="feature-section">
    <div class="tab-content">
      <div class="tab-pane active" id="spec">
        <div class="container">
          <div class="row">
          <div class="col-sm-6">
              <div class="table-responsive">
                <table class="table twin-head">
                  <tbody>
                    <tr>
                      <td>Material</td>
                      <td>Solid Aircraft Grade Aluminum, hardened, 2mm strong</td>
                    </tr>
                    <tr>
                      <td>Finish</td>
                      <td>Satin Hairline Brushed and Anodized</td>
                    </tr>
                    <tr>
                      <td>Guarantee</td>
                      <td>50 Years on all metal parts and proper representation. </td>
                    </tr>
                    <tr>
                      <td>Warranty</td>
                      <td>10 Years on all parts except wear & tear on consumables.</td>
                    </tr>
                    <tr>
                      <td>Plate dimensions</td>
                      <td>280mm x 185mm / 11" x 7"</td>
                    </tr>
                    <tr>
                      <td>Box Dimensions</td>
                      <td>300 x 200 x 40mm / 300g</td>
                    </tr>
                    <tr>
                      <td>Standard Compliance</td>
                      <td>VESA-Mount™, Pegboard, V²Dock™</td>
                    </tr>
                    <tr>
                      <td>VESA Pattern</td>
                      <td>75mm, 100mm, 150mm, 200mm, 250mm, or any other VESA pattern as long as < 300mm x 150mm. Note: you can go larger by adding ViDock-Board-L.</td>
                    </tr>
                    <tr>
                      <td>Pegboard</td>
                      <td>Mount hangers made for 1" pegboard.</td>
                    </tr>
                    <tr>
                      <td>V²Dock</td>
                      <td>Open-Standard that ensures compatibility of accessories to ViDock-Plate.</td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="table-responsive">
                <table class="table twin-head">
                  <tbody>
                    <tr>
                      <td class="text-right">Material</td>
                      <td>Solid Aircraft Grade Aluminum, hardened, 2mm strong</td>
                    </tr>
                    <tr>
                      <td class="text-right">Finish</td>
                      <td>Satin Brushed and Anodized</td>
                    </tr>
                    <tr>
                      <td class="text-right">Guarantee</td>
                      <td>50 Years on all metal parts</td>
                    </tr>
                    <tr>
                      <td class="text-right">Warranty</td>
                      <td>10 Years on all metal parts</td>
                    </tr>
                    <tr>
                      <td class="text-right">VESA Pattern</td>
                      <td>75mm, 100mm, 200mm, 250mm (300mm with Board-L)</td>
                    </tr>
                    <tr>
                      <td class="text-right">Plate dimensions</td>
                      <td>280mm x 185mm / 11" x 7"</td>
                    </tr>
                    <tr>
                      <td class="text-right">Box Dimensions</td>
                      <td>300 x 200 x 30mm / 300g</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="tab-pane" id="how-to">
        <img src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Deeper.jpg" alt="">
        <p><strong>Deeper:</strong> More Ideas and Know How → <a href="{{site.baseurl}}/how-to/">How To</a></p>
      </div>
      <div class="tab-pane" id="compare">
            <div class="table-responsive">
              <table class="table twin-head table-striped">
                <thead>
                  <tr>
                    <th style="width: 30%"></th>
                    <th style="width: 17.5%">ViDock-Plate-OEM</th>
                    <th style="width: 17.5%">ViDock-Plate-Kit</th>
                    <th style="width: 17.5%">ViDock-Plate-Bundle</th>
                    <th style="width: 17.5%">ViDock-One</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Material</td>
                    <td>Aircraft Aluminum</td>
                    <td>Aircraft Aluminum</td>
                    <td></td>
                    <td>Aircraft Aluminum</td>
                  </tr>
                  <tr>
                    <td>Universal Computer Size Adjustment</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>Monitor VESA Mount</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>✔</td>
                  </tr>
                  <tr>
                    <td>VESA Bay</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>✔</td>
                  </tr>
                  <tr>
                    <td>TV VESA Mount</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>➖</td>
                  </tr>
                  <tr>
                    <td>Mini-PC Bay</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>SFF-Desktop Bay</td>
                    <td></td>
                    <td>➖</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>Free Airflow</td>
                    <td></td>
                    <td>Good</td>
                    <td></td>
                    <td>Good</td>
                  </tr>
                  <tr>
                    <td>Universal Mounting Board</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>✔</td>
                  </tr>
                  <tr>
                    <td>Quick Mount (Computer)</td>
                    <td></td>
                    <td>➖</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>Max Computer Weight</td>
                    <td></td>
                    <td>3kg</td>
                    <td></td>
                    <td>15kg</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td></td>
                    <td>$29</td>
                    <td></td>
                    <td>$119</td>
                  </tr>
                  <tr>
                    <td>Organizer Extensions</td>
                    <td></td>
                    <td>ViDock-Anchor, ViDock-Mount, ViDock-Board-L, ViDock-Board-S, ViDock-Catch, ViDock-Headset</td>
                    <td></td>
                    <td>ViDock-Anchor, ViDock-Mount, ViDock-Board-L, ViDock-Board-S, ViDock-Catch, ViDock-Headset</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
      <div class="tab-pane" id="faq">
        <p><strong>Mix & Match:</strong> All-in-Ones come with only a few base configurations and only a few parts can be customized. As a consequence it may happen to you that when needing one part in a better grade you are forced to upgrade several other parts too, paying for better features you do not need. This sounds more complicated than it is. There is a diagram that visualizes this using displays as an example in the Mix & Match tab in the next module about display freedom.</p>
      </div>
    </div>
</div>

<div class="feature-section">

</div>
