---
layout: product
title: ViDock plate
warning:
  color: danger
  content: Developer site! Click "?" for more.
---

<div class="feature-section feature-slideshow product-style-slide" style="margin-top: 50px">
  <slick-slide class="slider img-raised" slides-to-show="3" center-mode="false">
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/vidock-one-photographer.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Plate-Kit-Docking-Front.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-One-Studio.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViCase-Mandala-ViDock-Space.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Glass-Table.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Gaming.jpg"></div>
    <div><img style="max-width: 640px" class="img-responsive" src="{{site.baseurl}}/images/home/ViDock-Portable.jpg"></div>
  </slick-slide>
</div>

<div class="feature-section" id="product-showcase">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="product-slide">
        <slick class="slider product-slide" dots="true" adaptive-height="true">
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Product.jpg">
            <p><strong>What:</strong> Solution to clean up your cable & dongle mess.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Use.jpg">
            <p><strong>Why:</strong> Clutter free by hiding cable & dongle mess.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Where.jpg">
            <p><strong>Where:</strong> It mounts wherever it works best for you. </p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When.jpg">
            <p><strong>When…:</strong> you just can't stand it anymore.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Gear.jpg">
            <p><strong>How…</strong> to attach your mess to ViDock-Plate.</p>
          </div>
          <div>
            <img class="img-responsive" style="max-width: 640px" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Why-01-540.jpg">
            <p><strong>Who…</strong> is inspired by a clean desk!</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Docking.jpg">
            <p><strong>Example Docking:</strong> Holds and hides any docking station</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Desktop.jpg">
            <p><strong>Example Desktop:</strong> Bye-bye messy cables / trouble cleaning floor.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-TV.jpg">
            <p><strong>Example TV:</strong> Clean living room improves atmosphere!</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Arm.jpg">
            <p><strong>Example Monitor-Arm:</strong> Your gear within arm's reach.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Grip.jpg">
            <p><strong>Get a Grip:</strong> More fun by increasing portability.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Charging.jpg">
            <p><strong>Charging Station:</strong>  Add charging without adding clutter.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Grow.jpg">
            <p><strong>Grow:</strong> ViDock-System grows with your needs.</p>
          </div>
          <div>
            <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Deeper.jpg">
            <p><strong>Deeper:</strong> More Ideas and Know How → <a href="#">UNDERSTANDING</a></p>
          </div>
        </slick>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 col-lg-offset-2" id="product-buy">
        <h1 class="product-title title">
          ViDock Plate Kit <br>
          <small>Early Bird {% include icons/help-circle.html %}</small>
        </h2>
        <h3 class="product-price">$29</h3>
        <button class="btn btn-warning btn-round product-add-to-cart">{% include icons/cart-plus.html %} Add to Cart</button>
        <div style="margin-top: 50px;">
          <p class="product-caption">Free continental shipping in US for orders over $50</p>
          <div class="product-warrenties">
            <p>Satisfaction Gurantee {% include icons/help-circle.html %}</p>
            <p>10 Year Warrenty {% include icons/help-circle.html %}</p>
            <p>50 Year Gurantee {% include icons/help-circle.html %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-section feature-intro feature-intro-text" style="padding: 30px 0 35px 0">
  <div class="container intro-container text-center">
    <h3>Hide and organize your cable and dongle mess!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<div class="feature-section feature-modules">
  <div class="container">
    <div class="card" style="max-width: 640px; margin: 0 auto;display: block;">
      <div class="content">
        <h3 class="title text-center">
          <span class="hidden-xs hidden-sm">ViDock-Plate Kit works with any Form Factor</span>
          <span class="visible-xs visible-sm">Turn any form factor to All-in-One</span>
        </h3>
        <div class="card-nav-tabs tab-material">
          <div class="header header-primary header-full header-material header-thin first-tab">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="active">
                    <a href="#mini-pc" data-toggle="tab">
                      {% include icons/mini-2-opt.html %}
                      <span>Mini-PC</span>
                    </a>
                  </li>
                  <li>
                    <a href="#desktop" data-toggle="tab">
                      {% include icons/desktop-tower.html %}
                      <span>Desktop</span>
                    </a>
                  </li>
                  <li>
                    <a href="#notebook" data-toggle="tab">
                      {% include icons/laptop-windows.html %}
                      <span>Laptop</span>
                    </a>
                  </li>
                  <li>
                    <a href="#tablet" data-toggle="tab">
                      {% include icons/tablet-android.html %}
                      <span>Tablet</span>
                    </a>
                  </li>
                  <li>
                    <a href="#gpu" data-toggle="tab">
                      {% include icons/gpu-card.html %}
                      <span>eGPU/Dock</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="tab-content">
              <div class="tab-pane active" id="mini-pc">
                <h4>Mini → Modular-in-One PC</h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <juxtapose class="embed-responsive-item"
                  before-image-url="'{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When-Before.jpg'"
                  before-image-label="'Before'"
                  after-image-url="'{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When-After.png'"
                  after-image-label="'After'">
                  </juxtapose>
                </div>
              </div>
              <div class="tab-pane" id="desktop">
                <h4>Desktop-SFF → Modular-in-One PC
                  <button class="btn btn-primary btn-simple btn-small" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-title="Compatibiliy" data-content="The Desktop-SFF (Small Form Factor) case shown is the <a href='http://www.silverstonetek.com/product.php?pid=533' target='_blank'>Silverstone FTZ01</a>, a 14L case with the dimensions: 376 (H) x 351 (W) x 107 (D) mm. Your case will be compatible if its depth is < 120mm. If you have a bigger case, you can make your computer compatible by changing its case to a SFF case, such as the <a href='http://www.silverstonetek.com/product.php?pid=533' target='_blank'>Silverstone FTZ01.</a><br><img class='img-responsive' style='max-width: 170px; margin: 0 auto' src='http://www.silverstonetek.com/images/products/ftz01/ftz01b-34left.jpg'>" data-html="true">More</button></h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                    before-image-url="'{{site.baseurl}}/images/home/Desktop-Before.jpg'"
                    before-image-label="'Before'"
                    after-image-url="'{{site.baseurl}}/images/home/Desktop-After.jpg'"
                    after-image-label="'After'">
                  </juxtapose>
                </div>
              </div>
            <div class="tab-pane" id="notebook">
              <h4>Laptop → Modular-in-One Docking
                <button class="btn btn-primary btn-simple btn-small" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-content="You have two more placement options:<img class='img-responsive' src='{{site.baseurl}}/images/home/laptop.jpg'><img class='img-responsive' src='{{site.baseurl}}/images/home/laptop-lift.jpg'>" data-html="true">More</button></h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <juxtapose class="embed-responsive-item"
                  before-image-url="'{{site.baseurl}}/images/home/Laptop-Before.jpg'"
                  before-image-label="'Before'"
                  after-image-url="'{{site.baseurl}}/images/home/Laptop-After.jpg'"
                  after-image-label="'After'">
                </juxtapose>
              </div>
            </div>
            <div class="tab-pane" id="tablet">
              <h4>Tablet → Modular-in-One Docking</h4>
              <div class="embed-responsive embed-responsive-16by9">
                <juxtapose class="embed-responsive-item"
                before-image-url="'{{site.baseurl}}/images/home/Tablet-Before.jpg'"
                before-image-label="'Before'"
                after-image-url="'{{site.baseurl}}/images/home/Tablet-After.jpg'"
                after-image-label="'After'">
              </juxtapose>
            </div>
          </div>
          <div class="tab-pane" id="gpu">
            <h4>Powerful Modular-in-One Docking Station
              <button class="btn btn-primary btn-simple btn-small" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-content="There are lots of powerful docking stations / external GPU (eGPU) solutions available for laptop and tablet. Shown: ViDock. Another example is the <a href='https://www.razerzone.com/gaming-systems/razer-blade-stealth#work-play' target='_blank'>Razer-Core</a> , the <a href='http://www.sonnettech.com/product/thunderbolt/index.html' target='_blank'>Sonnet Echo family</a> and many others. Any box will fit ViDock-One's bracket as long as one side is < 120 mm.<img class='img-responsive' style='margin: 0 auto' src='{{site.baseurl}}/images/home/razer-core.png'>" data-html="true">More</button></h4>
              <div class="embed-responsive embed-responsive-16by9">
                <juxtapose class="embed-responsive-item"
                before-image-url="'{{site.baseurl}}/images/home/eGPU-Before.jpg'"
                before-image-label="'Before'"
                after-image-url="'{{site.baseurl}}/images/home/eGPU-After.jpg'"
                after-image-label="'After'">
              </juxtapose>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="feature-section feature-modules">
  <div class="container">
      <div class="card" style="max-width: 640px; margin 0 auto">
        <div class="content">
        <h3 class="title text-center">
          Flexible Mounting System
        </h3>
        <div class="callout-container" style="max-width: 640px" data-tabs="tabs">
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Grow.jpg">
          <ul style="list-style:none;margin:0;padding:0">
            <li class="callout active" style="top: 32%;left: 49%;">
              <a data-toggle="tab" href="#test1"></a>
            </li>
            <li class="callout" style="top: 2%;left: 52%;">
              <a data-toggle="tab" href="#test2"></a>
            </li>
            <li class="callout" style="top: 7%;left: 41%;">
              <a data-toggle="tab" href="#test3"></a>
            </li>
            <li class="callout" style="top: 71%;left: 55%;">
              <a data-toggle="tab" href="#test4"></a>
            </li>
            <li class="callout" style="top: 71%;left: 67%;">
              <a data-toggle="tab" href="#test5"></a>
            </li>
          </ul>
        </div>
        <div class="tab-content" style="padding: 20px">

          <p id="test1" class="tab-pane active">
            <strong>VESA Displays 22” … 34”</strong> ViStand is compatible with any display ranging in size from 22” … 34” and having a 75 mm or 100 mm VESA mount.
          </p>

          <p id="test2" class="tab-pane">
            <strong>Webcam</strong> ViStand is all about recycling computer parts you already have. Say you own a display without a webcam. Simply purchase and place a webcam on your display. The webcam itself is not a ViStand feature. However, hiding and organizing its cable is. Explore ViStand Organizes Cable Clutter and The ViStand Design to see in more detail just how ViStand helps keep your desk free of cable clutter.
          </p>

          <p id="test3" class="tab-pane">
            <strong>Microphone</strong> If you own a webcam it probably has a built-in microphone. But if all you need is a microphone, you can use a lapel type mic with a specialized display clip. The Audio Technica ATR4650 Mic is a great example.
          </p>

          <p id="test4" class="tab-pane">
            <strong>Parked Keyboard</strong> The space occupied by your keyboard is perhaps the most valuable real estate on your desktop. Reclaim that space to draw, write, or doodle by parking your keyboard in ViStand’s convenient shelf.
          </p>

          <p id="test5" class="tab-pane">
            <strong>Parked Headset</strong> Headsets are great in a conference or for gaming, but otherwise they can get in the way. The ViStand headset holder gets them out of the way. Barely visible, yet within easy reach when you get a call.
          </p>

          </div>
          </div>
      </div>
  </div>
</div>

<div class="feature-section feature-tabs">
  <div class="container">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-navigation">
				<div class="nav-tabs-wrapper">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#spec" data-toggle="tab">Spec</a></li>
						<li><a href="#details" data-toggle="tab">Details</a></li>
            <li><a href="#compare" data-toggle="tab">Compare</a></li>
						<li><a href="#faq" data-toggle="tab">FAQ</a></li>
					</ul>
				</div>
			</div>
    </div>
  </div>
</div>

<div class="feature-section">
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane active" id="spec">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td class="text-right">Material</td>
                <td>Solid Aircraft Grade Aluminum, hardened, 2mm strong</td>
              </tr>
              <tr>
                <td class="text-right">Finish</td>
                <td>Satin Brushed and Anodized</td>
              </tr>
              <tr>
                <td class="text-right">Guarantee</td>
                <td>50 Years on all metal parts</td>
              </tr>
              <tr>
                <td class="text-right">Warranty</td>
                <td>10 Years on all metal parts</td>
              </tr>
              <tr>
                <td class="text-right">VESA Pattern</td>
                <td>75mm, 100mm, 200mm, 250mm (300mm with Board-L)</td>
              </tr>
              <tr>
                <td class="text-right">Plate dimensions</td>
                <td>280mm x 185mm / 11" x 7"</td>
              </tr>
              <tr>
                <td class="text-right">Box Dimensions</td>
                <td>300 x 200 x 30mm / 300g</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="details">
        <ul style="max-width:650px">
          <li>
            <strong>Eliminate electronic and cable clutter:</strong> This universal peg board mounts anything out of sight: Cables, Mini PCs, power-bricks, power-strips, USB-hubs, drives, streaming devices, etc.
          </li>
          <li>
            <strong>Universal Mini-PC mount:</strong> Remove your mini-PC with all its cables off your desk and out of sight. Holds any Mini-PC up to 3 kg. Keeps airflow free for best cooling.
          </li>
          <li>
            <strong>lexible mounting capabilities:</strong> From the tiniest cable or box up to mini-PC or streaming devices. ViDock-Plate can mount them all.
          </li>
          <li>
            <strong>Monitor and TV VESA mount compatible:</strong> 75x75 mm, 100x100 mm and every other VESA mount up to 200x300 mm
          </li>
          <li>
            <strong>Easy to install:</strong> Screws included to mount behind display. All mounting accessories included: Releasable cable ties (varies lengths), Velcro tape (various lengths), pegs, hooks.
          </li>
          <li>
            <strong>lexible mounting capabilities:</strong> From the tiniest cable or box up to mini-PC or streaming devices. ViDock-Plate can mount them all.
          </li>
          <li>
            <strong>Solid:</strong> Made from solid, 2mm CNC cut aircraft grade aluminum, making it a long lasting product that can hold more than enough.
          </li>
          <li>
            <strong>Great gift for:</strong> Computer nerds, tech freaks or cleanliness aficionados.
          </li>
          <li>
            <strong>System:</strong> Compatible with ViDock-System and its accessories. Extend organizing power when you need it. … ??? → ViDock-Anchor, ViDock-Mount, ViDock-Board-L, ViDOck-Board-S, ViDock-Catch
          </li>
          <li>
            <strong>Money-Back Guarantee:</strong> If ViDock-Plate does not clean up your desk and does not bring order and sanity then let us know with a picture of what did not worked. We will promptly refund your money.
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="compare">
        <div class="feature-section">
          <div class="container">
            <div class="table-responsive">
              <table class="table twin-head table-striped">
                <thead>
                  <tr>
                    <th style="width: 30%">Feature</th>
                    <th style="width: 17.5%">ViDock-Plate-OEM</th>
                    <th style="width: 17.5%">ViDock-Plate-Kit</th>
                    <th style="width: 17.5%">ViDock-Plate-Bundle</th>
                    <th style="width: 17.5%">ViDock-One</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Material</td>
                    <td>Aircraft Aluminum</td>
                    <td>Aircraft Aluminum</td>
                    <td></td>
                    <td>Aircraft Aluminum</td>
                  </tr>
                  <tr>
                    <td>Universal Computer Size Adjustment</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>Monitor VESA Mount</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>✔</td>
                  </tr>
                  <tr>
                    <td>VESA Bay</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>✔</td>
                  </tr>
                  <tr>
                    <td>TV VESA Mount</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>➖</td>
                  </tr>
                  <tr>
                    <td>Mini-PC Bay</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>SFF-Desktop Bay</td>
                    <td></td>
                    <td>➖</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>Free Airflow</td>
                    <td></td>
                    <td>Good</td>
                    <td></td>
                    <td>Good</td>
                  </tr>
                  <tr>
                    <td>Universal Mounting Board</td>
                    <td></td>
                    <td>✔</td>
                    <td></td>
                    <td>✔</td>
                  </tr>
                  <tr>
                    <td>Quick Mount (Computer)</td>
                    <td></td>
                    <td>➖</td>
                    <td></td>
                    <td>Optional</td>
                  </tr>
                  <tr>
                    <td>Max Computer Weight</td>
                    <td></td>
                    <td>3kg</td>
                    <td></td>
                    <td>15kg</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td></td>
                    <td>$29</td>
                    <td></td>
                    <td>$119</td>
                  </tr>
                  <tr>
                    <td>Organizer Extensions</td>
                    <td></td>
                    <td>ViDock-Anchor, ViDock-Mount, ViDock-Board-L, ViDock-Board-S, ViDock-Catch, ViDock-Headset</td>
                    <td></td>
                    <td>ViDock-Anchor, ViDock-Mount, ViDock-Board-L, ViDock-Board-S, ViDock-Catch, ViDock-Headset</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="faq">
        <p><strong>Mix & Match:</strong> All-in-Ones come with only a few base configurations and only a few parts can be customized. As a consequence it may happen to you that when needing one part in a better grade you are forced to upgrade several other parts too, paying for better features you do not need. This sounds more complicated than it is. There is a diagram that visualizes this using displays as an example in the Mix & Match tab in the next module about display freedom.</p>
      </div>
    </div>
  </div>
</div>
