<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/angular.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/angular-animate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/angular-aria.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/angular-material.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/app.js"></script>