<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/material.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/material-kit.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/juxtapose.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/video.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/vendors/angular.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/lib/app.js"></script>