<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navigation-menu">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">V²Shop</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation-menu">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#good">Products</a>
        </li>
        <li>
          <a href="#hi">About</a>
        </li>
        <li>
          <a href="#hi">Blog</a>
        </li>
        <li>
          <a href="#hi">Support</a>
        </li>
        <li>
          <a href="#hi">Community</a>
        </li>
        <li>
          <a href="#buy" id="nav-buy-button" class="btn btn-warning btn-round">{% include icons/cart.html %} Buy Now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>