<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent" {% unless page.visualURL %} style="box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); background-color: #2196F3" {% endunless %}>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navigation-menu">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo/logo.png" alt=""><span>Village Tronic</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navigation-menu">
      <ul class="nav navbar-nav navbar-right">
        {% for page in site.data.menu %}
        <li>
          <a href="{{site.baseurl}}{{page.url}}"
             {% if forloop.last %}id="nav-buy-button" class="btn btn-warning btn-round"{% endif %}>
            {% if forloop.last %}{% include icons/cart.html %}{% endif %}
            {{page.menu}}
          </a>
        </li>
        {% endfor %}
        <!-- <li>
          <a href="#buy" id="nav-buy-button" class="btn btn-warning btn-round">{% include icons/cart.html %} Shop</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>