<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button">
        <span class="sr-only">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">V²Shop</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#good">Products</a>
        </li>
        <li>
          <a href="#hi">Use Cases</a>
        </li>
        <li>
          <a href="#hi">About</a>
        </li>
        <li>
          <a href="#hi">Community</a>
        </li>
      </ul>
    </div>
  </div>
</nav>