<div id="{{include.id}}" class="page-header shop-jumbo">
  <div class="row">
    <div class="col-sm-6 jumbo-visual">
      <slick class="slider" dots="true">
        <div>
          <img class="img-responsive" style="max-width: 640px" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Product.jpg">
          <p><strong>What:</strong> Solution to clean up your cable & dongle mess.</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Use.jpg">
          <p><strong>Why:</strong> Clutter free by hiding cable & dongle mess.</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Where.jpg">
          <p><strong>Where:</strong> It mounts wherever it works best for you. </p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-When.jpg">
          <p><strong>When…:</strong> you just can't stand it anymore.</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Gear.jpg">
          <p><strong>How…</strong> to attach your mess to ViDock-Plate.</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Docking.jpg">
          <p><strong>Example Docking:</strong> Holds and hides any docking station</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Desktop.jpg">
          <p><strong>Example Desktop:</strong> Bye-bye messy cables / trouble cleaning floor.</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-TV.jpg">
          <p><strong>Example TV:</strong> Clean living room improves atmosphere!</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Arm.jpg">
          <p><strong>Example Monitor-Arm:</strong> Your gear within arm's reach.</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Grip.jpg">
          <p><strong>Get a Grip:</strong> More fun by increasing portability.</p>
        </div>
        <div>
          <img class="img-responsive" src="{{site.baseurl}}/images/vidock-plate/ViDock-Plate-Kit-Charging.jpg">
          <p><strong>Charging Station:</strong>  Add charging without adding clutter.</p>
        </div>
      </slick>
    </div>
    <div class="col-sm-6 jumbo-content">
      <h1 class="title">
        {{include.title}}
        {% if include.desc %}
        <br>
        <small>{{include.desc}}</small>
        {% endif %}
      </h1>
    </div>
  </div>
</div>
