#space-frontier {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0,0,0,0.3)), linear-gradient(to top, rgba(0, 0, 0, 0) 70%, rgba(0,0,0,0.3)), url($baseurl + "/images/home/home-page-teaser.jpg");

  @include media-query($on-mobile) {
    .full-width-content {
      background-color: #EBEFF2;
    }
  }
}
#breakthrough-modular {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0,0,0,0.3)), url($baseurl + "/images/home/breakthrough-sintel-700.jpg");
  height: 700px;

  .full-width-content {
    top: 107px;
    bottom: auto;

    h2.title {
      font-size: 63px;
    }
  }
}