.alert-jumbo {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  padding: 15px;
  border-top-right-radius: 10px;

  @include media-query($on-mobile) {
    width: 100%;
    bottom: 0;
    border-top-right-radius: 0;
  }
}

.alert.alert-warning {
  background-color: $brand-accent;
}