.btn-fab {
  background-color: $brand-accent;
  padding: 16px !important;
  position: absolute !important;
  fill: #FFF;
  transition: all 0.25s ease-in-out;

  &:hover, &:focus, &:active {
    background-color: $brand-accent-400;
  }

  .ripple {
    background-color: $brand-accent-400 !important;
  }

  &#jumbo-fab {
    bottom: -20px;
    right: 0;

    @include media-query($on-laptop) {
      right: 20px;
    }

    @include media-query($on-mobile) {
      /*bottom: 10px;
      !*width: 40px;
      height: 40px;
      min-width: 40px;
      padding: 8px !important;*!
      right: 5px;*/
      bottom: 40px;
    }

    @include media-query(418px) {
      bottom: 82px;
      right: 10px;
    }
  }
}

.btn-accent {
  background-color: $brand-accent !important;
  box-shadow: 0 2px 2px 0 rgba(255, 171, 64, 0.14), 0 3px 1px -2px rgba(255, 171, 64, 0.2), 0 1px 5px 0 rgba(255, 171, 64, 0.12);
}

.btn-small {
  padding: 10px;
  margin:0;
}

.btn-readmore {
  padding: 10px;
  margin: 0;
  margin-left: -10px;
}

.btn-inline {
  margin-left: 0;
}