.callout-container {
  display: block;
  position: relative;
  max-width: $on-laptop;

  > img {
    margin-bottom: 0;
  }
}


.callout {
  position: absolute;
  border-bottom: 2px solid $gray-600;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  visibility: visible;

  &:hover, &.active {
    transform: scale(1.1,1.1);
    border-color: $brand-accent;
  }
}