.feature-full {
  padding:0;

  .container-fluid {
    [class*="col-"] {
      margin-bottom: 0;
    }
  }

  .feature-full-image {
    height: 510px;
    padding:0;

    @include media-query ($on-laptop) {
      height: 630px;
    }
  }

  .feature-full-text {
    padding: 30px 30px 20px 30px;
  }
}