.feature-modules {
  .card {
    > .content {
      padding: 0;

      .title {
        margin-bottom: 0;
        padding: 20px 0;
        background-color: $brand-color;
        color: #FFF;
        font-size: 1.6em;

        @include media-query($on-laptop) {
          font-size: 14px;
        }

        > small {
          color: rgba(255, 255, 255, 0.87);
        }
      }
    }
  }
}