.feature-full {
  padding:0;

  .container-fluid {
    [class*="col-"] {
      margin-bottom: 0;
    }
  }

  .feature-full-image {
    height: 510px;
    padding:0;

    @include media-query ($on-laptop) {
      height: 792px;
    }
  }

  .feature-full-text {
    padding: 60px 30px 60px 60px;

    @include media-query($on-laptop) {
      padding: 30px;
    }
  }
}