.feature-column {
  margin-top: 60px;
  margin-bottom: 60px;

  .material-icons {
    width: 50px;
    color: $brand-color;
  }

  .title {
    margin-top:0;
    margin-bottom: 0;
    color: $text-color;
    font-weight: bold;
  }

  p {
    font-size: 1em;
    color: $text-color;
  }
}
