.feature-section {
  padding: 70px 0;

  .title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
  }
}
.vertical-tab-section {
  .nav-pills {
    > li.active {
      svg {
        fill: #FFF;
      }
    }
  }
}