.full-width-image {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  padding: 0;

  @include media-query($on-mobile) {
    background-image: none !important;
    height: auto;
  }

  .mobile-full-width-img {
    display: none;

    @include media-query($on-mobile) {
      display: block;
    }
  }

  .full-width-content {
    position: absolute;
    top: 155px;
    width: 100%;
    transition: all 0.25s ease-in-out;

    &.full-width-content-top {
      top: 15px;
    }

    @include media-query($on-mobile) {
      position: static;
      background-color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 74px;
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px;

      @include media-query($on-mobile) {
        font-size: 35px;
      }

      > small {
        color: $gray-700;
      }

      @include media-query($on-mobile) {
        color: inherit;
        text-shadow: none;
      }
    }

    p {
      color: rgba(255, 255, 255, 0.87);
      text-align: center;
      font-size: 21px;
      text-shadow: 0 0 20px black;

      @include media-query($on-mobile) {
        color: inherit;
        text-shadow: none;
        font-size: 15px;
      }
    }
  }
}