.feature-slideshow {
  padding: 0;
}

.slider {
  background: transparent;

  .slick-slide {
    margin: 10px 5px;
    margin-bottom: 30px;
    text-align: center;

    @include media-query($on-mobile) {
      margin: 3px 1.5px;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .slick-arrow {
    width: 30px;
    height: 70px;
    background: rgba(0, 0, 0, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.54);
    color: #FFF;

    z-index: 100;

    &:hover, &:focus {
      background: rgba(0, 0, 0, 0.54);
      border: 1px solid rgba(255, 255, 255, 0.54);
    }

    @include media-query($on-mobile) {
      //width: 15px;
      //height: 15px;

      display: none !important;
    }

    &.slick-prev {
      &:before {
        content: url("/icons/chevron-left.svg");
      }
      left: 30px;
    }
    &.slick-next {
      &:before {
        content: url("/icons/chevron-right.svg");
      }
      right: 30px;
    }
  }
}

.slider-full {
  .slick-slide {
    margin: 0;
  }
}

.slider-full-center {
  
}