.feature-modules {
  .card {
    > .content {
      padding: 0;

      .title {
        margin-bottom: 0;
        padding: 20px 0;
        background-color: $brand-color;
        color: #FFF;

        > small {
          color: rgba(255, 255, 255, 0.87);
        }
      }
    }
  }
}