.feature-info {
  .title {
    margin-bottom: 40px;
  }

  .info-horizontal {
    max-width: none;
    padding: 10px 0;
    margin: 0 auto;

    > .material-icons {
      fill: $brand-color;
      float: left;
      margin-right: 10px;
      width: 36px;
    }

    > .description {
      padding-left: 46px;

      .info-title {
        margin-top: 0;
        font-weight: 500;
        margin-bottom: 5px;
      }

      button {
        padding: 10px;
        margin: 0;
        margin-left: -10px;
      }
    }
  }
}