.juxtapose {
  width: 100% !important;
  height: 100% !important;

  .jx-control, .jx-controller {
    background-color: $brand-accent;
  }

  .jx-arrow.jx-left {
    border-color: transparent $brand-accent transparent transparent;
  }

  .jx-arrow.jx-right {
    border-color: transparent transparent transparent $brand-accent;
  }

  .jx-knightlab {
    display: none;
  }
}