.card-nav-tabs {
  width: auto;
  margin-top: 19px;

  &.tab-material {
    margin-top:0;
  }

  .header-full {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .header-material {
    margin-top: 0 !important;
    margin-bottom: 8px;

    .nav-tabs {
      padding:0;

      > li{
        position: relative;

        &::after {
          height: 4px;
          width: 100%;
          display: block;
          content: " ";
          bottom: 1px;
          left: 0;
          position: absolute;
          transition: all .2s ease;
          background: transparent;
          pointer-events: none;
          cursor: pointer;
        }

        &:hover, &.active {
          &::after {
            background: $brand-accent;
          }
        }
      }
    }

  }

  .header-gray {
    //background: linear-gradient(60deg, $gray-400, $gray-700);
  }

  .header-thin {
    padding: 0;
    margin-top: -19px;

    li {
      > a {
        //padding-top: 5px;
        //padding-bottom: 5px;
      }
    }
  }

  .nav-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > li {
      float: none;

      @include media-query($on-desktop) {
        .material-icons {
          margin-right: 0;
        }

        span {
          display: none;
        }
      }
    }
  }

  .content {
    padding: 0;

    .tab-pane {
      text-align: center;
      > img {
        margin: 0 auto;
      }
    }
  }
}
.vertical-tab-section {
  .nav-pills {
    > li.active {
      svg {
        fill: #FFF;
      }
    }
  }
}