.vertical-tabs {
  .card {
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  }

  .nav-stacked {
    max-width: 180px;

    @include media-query($on-desktop) {
      max-width: 130px;
    }

    > li {
      > a {
        border-radius: 30px;
        text-align: left;
        padding-left: 25px;

        @include media-query($on-desktop) {
          padding-left: 15px;
        }
      }

      &.active .material-icons {
        fill: #ffffff;
      }
    }
  }

  .nav-pills-icons {
    max-width: 120px;
  }

  .nav-stacked > li + li {
    margin-top: 5px;
  }
}