<!DOCTYPE html>
<html>

{% include head.html %}

<body ng-controller="MainCtrl as vm">

{% include navbar.html %}

{% include jumbotron.html %}

<!-- We are going to do quick and dirty for now -->
<!--<div class="home-content container">
  {{ content }}
</div>-->

<div class="feature-intro-text intro-primary">
  <div class="container">
    <p style="max-width:700px; margin:0 auto">
      A stylish, clean, and well organized desk is a joy to use and simply feels great. Wait, what? Your desk doesn't look like this? It's overrun by cables and computer gear? ViDock-One reclaims your desk! It docks all your computer gear and hides it behind your display, effectively turning any computer form factor into an All-in-One.
    </p>
  </div>
</div>

<div class="feature-section feature-modules">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="content">
            <h3 class="title text-center">
              <span class="hidden-xs hidden-sm">Turn any Form Factor into a Modular All-in-One</span>
              <span class="visible-xs visible-sm">Turn any form factor to All-in-One</span>
            </h3>
            <div class="card-nav-tabs tab-material">
              <div class="header header-primary header-full header-material header-thin">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs"  data-tabs="tabs">
                      <li class="active">
                        <a href="#desktop" data-toggle="tab">
                          {% include icons/desktop-tower.html %}
                          <span>Desktop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#mini-pc" data-toggle="tab">
                          {% include icons/mini.html %}
                          <span>Mini-PC</span>
                        </a>
                      </li>
                      <li>
                        <a href="#notebook" data-toggle="tab">
                          {% include icons/laptop-windows.html %}
                          <span>Laptop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#tablet" data-toggle="tab">
                          {% include icons/tablet-android.html %}
                          <span>Tablet</span>
                        </a>
                      </li>
                      <li>
                        <a href="#gpu" data-toggle="tab">
                          {% include icons/gpu-card.html %}
                          <span>GPU</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="tab-content">
                  <div class="tab-pane active" id="desktop">
                    <h4 class="hidden-lg">Desktop</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/Desktop-Before.jpg'"
                               before-image-label="'Before'"
                               after-image-url="'{{site.baseurl}}/images/home/Desktop-After.jpg'"
                               after-image-label="'After'">
                    </juxtapose>
                      </div>
                  </div>
                  <div class="tab-pane" id="mini-pc">
                    <h4 class="hidden-lg">Mini-PC</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                      <juxtapose class="embed-responsive-item"
                                 before-image-url="'{{site.baseurl}}/images/home/Mini-Before.jpg'"
                                 before-image-label="'Before'"
                                 after-image-url="'{{site.baseurl}}/images/home/Mini-After.jpg'"
                                 after-image-label="'After'">
                      </juxtapose>
                    </div>
                  </div>
                  <div class="tab-pane" id="notebook">
                    <h4 class="hidden-lg">Laptop</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/Laptop-Before.jpg'"
                               before-image-label="'Before'"
                               after-image-url="'{{site.baseurl}}/images/home/Laptop-After.jpg'"
                               after-image-label="'After'">
                    </juxtapose>
                      </div>
                  </div>
                  <div class="tab-pane" id="tablet">
                    <h4 class="hidden-lg">Tablet</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/Tablet-Before.jpg'"
                               before-image-label="'Before'"
                               after-image-url="'{{site.baseurl}}/images/home/Tablet-After.jpg'"
                               after-image-label="'After'">
                    </juxtapose>
                      </div>
                  </div>
                  <div class="tab-pane" id="gpu">
                    <h4 class="hidden-lg">GPU</h4>
                    <img class="img-responsive" src="{{site.baseurl}}/images/home/before-after.jpg" alt="before after picture of your desk with / without vidock M">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="content">
            <h3 class="title text-center">
              How ViDock-One does it
            </h3>
            <div class="card-nav-tabs tab-material">
              <div class="header header-primary header-full header-material header-thin">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs"  data-tabs="tabs">
                      <li class="active">
                        <a href="#how-desktop" data-toggle="tab">
                          {% include icons/desktop-tower.html %}
                          <span>Desktop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-mini" data-toggle="tab">
                          {% include icons/mini.html %}
                          <span>Mini-PC</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-laptop" data-toggle="tab">
                          {% include icons/laptop-windows.html %}
                          <span>Laptop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-tablet" data-toggle="tab">
                          {% include icons/tablet-android.html %}
                          <span>Tablet</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-gpu" data-toggle="tab">
                          {% include icons/gpu-card.html %}
                          <span>GPU</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="tab-content">
                  <div class="tab-pane active" id="how-desktop">
                    <h4 class="hidden-lg">Desktop</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Desktop/ViStand-DeskTop-Anim-V1-Moup.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="tab-pane" id="how-mini">
                    <h4 class="hidden-lg">Mini</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Mini/ViStand-Mini-Anim-V11-720p.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="tab-pane" id="how-laptop">
                    <h4 class="hidden-lg">Laptop</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Laptop/ViStand-Laptop-Anim-V2-Moup.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="tab-pane" id="how-tablet">
                    <h4 class="hidden-lg">Tablet</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Tablet/ViStand-Tablet-Anim-V2.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="tab-pane" id="how-gpu">
                    <h4 class="hidden-lg">Tablet</h4>
                    <p>Item not available</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-section full-width-image" id="space-frontier">
  <img class="img-responsive mobile-full-width-img" src="{{site.baseurl}}/images/home/space-frontier-new-warp-m.jpg" alt="">
  <div class="full-width-content">
    <div class="container">
      <h2 class="title">Space, the Final Frontier</h2>
    </div>
  </div>
</div>

<div class="feature-intro-text" style="background: #ffffff;">
  <div class="container">
    <p style="max-width:700px; margin:0 auto">
      Not only do we make cleaning your desk swift and easy, we make it poetic: Enjoy space for inspiration and play by parking your device in ViDock-One's bay. And for a bigger boost, you can quickly bring your ViDock-One computer with you to reach new frontiers of work groups, game parties, or just your balcony on a sunny day. Made possible by the Modular-in-One form factor that docks all your computer items into one portable unit with a grip.
    </p>
  </div>
</div>

<div class="feature-section feature-modules">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="content">
            <h3 class="title text-center">ViDock-One keeps your device-clutter at Bay</h3>
            <div class="card-nav-tabs tab-material">
              <div class="header header-primary header-full header-material header-thin">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs"  data-tabs="tabs">
                      <li class="active">
                        <a href="#bay-keyboard" data-toggle="tab">
                          {% include icons/keyboard.html %}
                          <span>Keyboard</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-angled" data-toggle="tab">
                          {% include icons/angled-keyboard.html %}
                          <span>Angled</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-laptop" data-toggle="tab">
                          {% include icons/laptop-windows.html %}
                          <span>Laptop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-tablet" data-toggle="tab">
                          {% include icons/tablet-android.html %}
                          <span>Tablet</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-wacom" data-toggle="tab">
                          {% include icons/wacom.html %}
                          <span>Wacom</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="tab-content">
                  <div class="tab-pane active" id="bay-keyboard">
                    <h4 class="hidden-lg">Keyboard</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Parked.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                <div class="tab-pane" id="bay-angled">
                  <h4 class="hidden-lg">Keyboard Angled</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Angled.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                <div class="tab-pane" id="bay-laptop">
                  <h4 class="hidden-lg">Laptop</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Laptop-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Laptop-Parked.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                <div class="tab-pane" id="bay-tablet">
                  <h4 class="hidden-lg">Tablet</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Tablet-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Tablet-Parked.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                <div class="tab-pane" id="bay-wacom">
                  <h4 class="hidden-lg">Wacom</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Wacom-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Wacom-Parked.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}

{% include dependencies.html %}

</body>

</html>
