<!DOCTYPE html>
<html>

{% include head.html %}

<body ng-controller="MainCtrl as vm">

{% include navbar.html %}

{% include jumbotron.html %}

<!-- We are going to do quick and dirty for now -->
<!--<div class="home-content container">
  {{ content }}
</div>-->

<div class="feature-intro-text intro-primary">
  <div class="container">
    <p>
      A stylish, clean, and well organized desk is a joy to use and simply feels great. Wait, what? Your desk doesn't look like this? It's overrun by cables and computer gear? ViDock-One reclaims your desk! It docks all your computer gear and hides it behind your display, effectively turning any computer form factor into an All-in-One.
    </p>
  </div>
</div>

<div class="feature-section feature-modules">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="content">
            <h3 class="title text-center">
              <span class="hidden-xs hidden-sm">Turn any Form Factor into a Modular All-in-One</span>
              <span class="visible-xs visible-sm">Turn any form factor to All-in-One</span>
            </h3>
            <div class="card-nav-tabs tab-material">
              <div class="header header-primary header-full header-material header-thin">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs"  data-tabs="tabs">
                      <li class="active">
                        <a href="#desktop" data-toggle="tab">
                          {% include icons/desktop-tower.html %}
                          <span>Desktop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#mini-pc" data-toggle="tab">
                          {% include icons/mini-2-opt.html %}
                          <span>Mini-PC</span>
                        </a>
                      </li>
                      <li>
                        <a href="#notebook" data-toggle="tab">
                          {% include icons/laptop-windows.html %}
                          <span>Laptop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#tablet" data-toggle="tab">
                          {% include icons/tablet-android.html %}
                          <span>Tablet</span>
                        </a>
                      </li>
                      <li>
                        <a href="#gpu" data-toggle="tab">
                          {% include icons/gpu-card.html %}
                          <span>GPU</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="tab-content">
                  <div class="tab-pane active" id="desktop">
                    <h4>Desktop → Modular-in-One PC</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/Desktop-Before.jpg'"
                               before-image-label="'Before'"
                               after-image-url="'{{site.baseurl}}/images/home/Desktop-After.jpg'"
                               after-image-label="'After'">
                    </juxtapose>
                      </div>
                  </div>
                  <div class="tab-pane" id="mini-pc">
                    <h4>Mini → Modular-in-One PC</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                      <juxtapose class="embed-responsive-item"
                                 before-image-url="'{{site.baseurl}}/images/home/Mini-Before.jpg'"
                                 before-image-label="'Before'"
                                 after-image-url="'{{site.baseurl}}/images/home/Mini-After.jpg'"
                                 after-image-label="'After'">
                      </juxtapose>
                    </div>
                  </div>
                  <div class="tab-pane" id="notebook">
                    <h4>Laptop → Modular-in-One Docking</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/Laptop-Before.jpg'"
                               before-image-label="'Before'"
                               after-image-url="'{{site.baseurl}}/images/home/Laptop-After.jpg'"
                               after-image-label="'After'">
                    </juxtapose>
                      </div>
                  </div>
                  <div class="tab-pane" id="tablet">
                    <h4>Tablet → Modular-in-One Docking</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/Tablet-Before.jpg'"
                               before-image-label="'Before'"
                               after-image-url="'{{site.baseurl}}/images/home/Tablet-After.jpg'"
                               after-image-label="'After'">
                    </juxtapose>
                      </div>
                  </div>
                  <div class="tab-pane" id="gpu">
                    <h4>External GPU Modular-in-One Docking</h4>
                    <img class="img-responsive" src="{{site.baseurl}}/images/home/before-after.jpg" alt="before after picture of your desk with / without vidock M">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="content">
            <h3 class="title text-center">
              How ViDock-One does it
            </h3>
            <div class="card-nav-tabs tab-material">
              <div class="header header-primary header-full header-material header-thin">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs"  data-tabs="tabs">
                      <li class="active">
                        <a href="#how-desktop" data-toggle="tab">
                          {% include icons/desktop-tower.html %}
                          <span>Desktop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-mini" data-toggle="tab">
                          {% include icons/mini-2-opt.html %}
                          <span>Mini-PC</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-laptop" data-toggle="tab">
                          {% include icons/laptop-windows.html %}
                          <span>Laptop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-tablet" data-toggle="tab">
                          {% include icons/tablet-android.html %}
                          <span>Tablet</span>
                        </a>
                      </li>
                      <li>
                        <a href="#how-gpu" data-toggle="tab">
                          {% include icons/gpu-card.html %}
                          <span>GPU</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="tab-content">
                  <div class="tab-pane active" id="how-desktop">
                    <h4>Desktop → Modular-in-One PC</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Desktop/ViStand-DeskTop-Anim-V1-Moup.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="tab-pane" id="how-mini">
                    <h4>Mini → Modular-in-One PC</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Mini/ViStand-Mini-Anim-V11-720p.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="tab-pane" id="how-laptop">
                    <h4>Laptop → Modular-in-One Docking</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Laptop/ViStand-Laptop-Anim-V2-Moup.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="tab-pane" id="how-tablet">
                    <h4>Tablet → Modular-in-One Docking</h4>
                    <video class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "aspectRatio":"16:9" }'>
                      <source src="{{site.baseurl}}/assets/Videos/ViDock-One-Tablet/ViStand-Tablet-Anim-V2.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="tab-pane" id="how-gpu">
                    <h4>External GPU Modular-in-One Docking</h4>
                    <p>Item not available</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="feature-section full-width-image" id="space-frontier">
  <img class="img-responsive mobile-full-width-img" src="{{site.baseurl}}/images/home/space-frontier-new-warp-m.jpg" alt="">
  <div class="full-width-content">
    <div class="container">
      <h2 class="title">Space, the Final Frontier</h2>
    </div>
  </div>
</div>

<div class="feature-intro-text" style="background-color: #EBEFF2">
  <div class="container">
    <p>
      Not only do we make cleaning your desk swift and easy, we make it poetic: Enjoy space for inspiration and play by parking your device in ViDock-One's bay. And for a bigger boost, you can quickly bring your ViDock-One computer with you to reach new frontiers of work groups, game parties, or just your balcony on a sunny day.
    </p>
  </div>
</div>

<div class="feature-section feature-modules vertical-tabs" style="background: #FFF">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="content">
            <h3 style="padding-left: 25px;" class="title visible-sm visible-xs text-center">ViDock-One keeps your device-clutter at Bay</h3>
            <div class="card-nav-tabs tab-material">
              <div class="header header-primary header-full header-material header-thin visible-sm visible-xs">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs"  data-tabs="tabs">
                      <li class="active">
                        <a href="#bay-angled" data-toggle="tab">
                          {% include icons/angled-keyboard.html %}
                          <span>Angled</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-keyboard" data-toggle="tab">
                          {% include icons/keyboard.html %}
                          <span>Keyboard</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-laptop" data-toggle="tab">
                          {% include icons/laptop-windows.html %}
                          <span>Laptop</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-tablet" data-toggle="tab">
                          {% include icons/tablet-android.html %}
                          <span>Tablet</span>
                        </a>
                      </li>
                      <li>
                        <a href="#bay-wacom" data-toggle="tab">
                          {% include icons/wacom.html %}
                          <span>Wacom</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="tab-content">
                <div class="tab-pane active" id="bay-angled">
                  <h4 class="visible-xs visible-sm">Keyboard Angled</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Parked.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Angled.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                  <div class="tab-pane" id="bay-keyboard">
                    <h4 class="visible-xs visible-sm">Keyboard</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                      <juxtapose class="embed-responsive-item"
                                 before-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Used.jpg'"
                                 before-image-label="'Used'"
                                 after-image-url="'{{site.baseurl}}/images/home/before-after/Keyboard-Parked.jpg'"
                                 after-image-label="'Parked'">
                      </juxtapose>
                    </div>
                  </div>
                <div class="tab-pane" id="bay-laptop">
                  <h4 class="visible-xs visible-sm">Laptop</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Laptop-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Laptop-Parked.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                <div class="tab-pane" id="bay-tablet">
                  <h4 class="visible-xs visible-sm">Tablet</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Tablet-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Tablet-Parked.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                <div class="tab-pane" id="bay-wacom">
                  <h4 class="visible-xs visible-sm">Wacom</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <juxtapose class="embed-responsive-item"
                               before-image-url="'{{site.baseurl}}/images/home/before-after/Wacom-Used.jpg'"
                               before-image-label="'Used'"
                               after-image-url="'{{site.baseurl}}/images/home/before-after/Wacom-Parked.jpg'"
                               after-image-label="'Parked'">
                    </juxtapose>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 hidden-xs hidden-sm">
        <h3 class="title" style="padding-left: 25px;">ViDock-One keeps your device-clutter at Bay</h3>
        <div class="row">
        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked" data-tabs="tabs">
          <li class="active">
            <a href="#bay-angled" data-toggle="tab">
              {% include icons/angled-keyboard.html %}
              Angled
            </a>
          </li>
            <li>
              <a href="#bay-keyboard" data-toggle="tab">
                {% include icons/keyboard.html %}
                Keyboard
              </a>
            </li>
          <li>
            <a href="#bay-laptop" data-toggle="tab">
              {% include icons/laptop-windows.html %}
              Laptop
            </a>
          </li>
          <li>
            <a href="#bay-tablet" data-toggle="tab">
              {% include icons/tablet-android.html %}
              Tablet
            </a>
          </li>
          <li>
            <a href="#bay-wacom" data-toggle="tab">
              {% include icons/wacom.html %}
              Wacom
            </a>
          </li>
        </ul>
        </div>
        <div class="col-md-8">
          <div class="tab-content">
            <div class="tab-pane active">
              <p style="line-height: 1.8em;padding-top: 10px;">It's quick to get the keyboard out of the way, yet keep it in easy reach. Choose the angled parking position if you want to reduce dust collection or inadvertent key presses by your pets or kids.</p>
            </div>
          </div>
        </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-section feature-modules feature-full vertical-tabs feature-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 feature-full-text">
        <h3 class="title text-right">Go where no All-in-One has Gone Before</h3>
        <p class="text-right title-text">ViDock-One is a Modular-in-One that docks all your computer gear into one portable
          All-in-One unit with a grip. For the first time you can quickly bring your entire setup with you. Engage!</p>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-9 col-lg-9">
                <div class="tab-content text-right">
                <div class="tab-pane active" id="moduler-gamers">
                  <p>Gaming is always more fun with others. ViDock-One makes it fast to bring
                  your gaming rig to where the action is. Unlike traditional
                  All-in-One you can use any desktop GPU, including 1080 Ti.</p>
                </div>
                <div class="tab-pane" id="moduler-e-sports">
                  <p>Setting up a tournament never has been faster. Place the ViDock One on the table, plug in power and you are ready to rock n' roll.</p>
                </div>
                <div class="tab-pane" id="modular-design">
                  <p>Any designer enjoys a stylish computer, alas the popularity of All-in-One. But designers also greatly benefit from powerful desktop 3D cards and frequent upgrading. This makes traditional All-in-One expensive for designers. The modular nature of ViDock One to the rescue! Best of all, you can bring your (4K / 8K) rig with you. Don't chain your creativity to your desk!</p>
                </div>
                <div class="tab-pane" id="modular-video">
                  <p>All that applies to 3D Design and Photo applies to professional video as well. But there are the added use cases of color grading your shot and making the judgement call (correctly) if it made the cut.</p>
                </div>
                <div class="tab-pane" id="modular-students">
                  <p>The compact ViDock-One fits into the tight space of a dormitory. It's portability is ideal to bring it to your study group or to a game party. When going home for the holidays, simply undock the computer module from the All-in-One rig. Now it fits in your carryon luggage.</p>
                </div>
                <div class="tab-pane" id="modular-parents">
                  <p>You want to see more of your kid(s), bring the ViDock-One gaming rigs to the living room. You need some quiet time, then bring the rigs to their friends for a game tournament. Reclaim control while adding to their fun. Win-Win :-)</>
                </div>
                <div class="tab-pane" id="modular-education">
                  <p>The Modular-in-One is the new form factor of choice for teaching! It combines the same lowest total cost of ownership of a desktop with an even lower footprint than an All-in-One. But its portability is second to none, resulting in higher flexibility that increases the ROI even further.</p>
                </div>
              </div>
          </div>
          <div class="col-md-3 col-lg-3">
            <ul class="nav nav-pills nav-stacked nav-thin nav-right" data-tabs="tabs">
              <li class="active">
                <a href="#moduler-gamers" data-toggle="tab">
                  Gamers
                </a>
              </li>
              <li>
                <a href="#moduler-e-sports" data-toggle="tab">
                  E-Sports
                </a>
              </li>
              <li>
                <a href="#modular-design" data-toggle="tab">
                  3D Design & Photo
                </a>
              </li>
              <li>
                <a href="#modular-video" data-toggle="tab">
                  Video
                </a>
              </li>
              <li>
                <a href="#modular-students" data-toggle="tab">
                  Students
                </a>
              </li>
              <li>
                <a href="#modular-parents" data-toggle="tab">
                  Parents
                </a>
              </li>
              <li>
                <a href="#modular-education" data-toggle="tab">
                  Education
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 feature-full-image">
        <div class="background-cover" style='background-image: url("{{site.baseurl}}/images/home/ViDock-M-Voyages.jpg")'></div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}

{% include dependencies.html %}

</body>

</html>
