.feature-section {
  padding-top: 60px;
  padding-bottom: 0;

  .row > [class*="col-"] {
    margin-bottom: 60px;
  }

  .title {
    //margin-top: 10px;
    margin-bottom: 20px;
    min-height: 32px;
    line-height: 25px;
  }
}