.feature-section {
  padding-top: 60px;
  padding-bottom: 0;

  .row > [class*="col-"] {
    margin-bottom: 60px;
  }

  .title {
    //margin-top: 10px;
    margin-bottom: 20px;
    min-height: 32px;
    line-height: 1em;
  }

  .title-text {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .tab-content, .panel-body {
    p + p {
      margin-top: 10px;
    }
  }
}
.feature-dark {
  background-color: #2D384A;

  .title {
    color: #FFF;
  }

  p {
    color: rgba(255, 255, 255, 0.54);
  }

  strong {
    color: rgba(255, 255, 255, 0.87);
  }

  .nav-pills {
    > li {
      > a {
        color: rgba(255, 255, 255, 0.54);
      }

      &.active {
        > a {
          color: #FFF;
        }
      }
    }
  }
}