.jumbotron {
  position: relative;
  margin: 0;
  padding: 0;
  border:0;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center center;
  height: 480px;

  @include media-query($on-mobile) {
    box-shadow: none !important;
    background-image: none !important;
    height: auto !important;
  }

  > .page-header-content {
    position: absolute;
    bottom: 0;
    width: 100%;

    .title {
      font-size: 64px;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.87);
      text-align: center;
      text-shadow: 0 0 20px black;
    }
  }

  .mobile-jumbotron-img {
    display: none;

    @include media-query($on-mobile) {
      display: block;
    }
  }
}

.jumbo-primary {
  background-color: #2196F3;

  > .page-header-content {

    > .container {
      max-width: 1400px;
    }

    .title {
      text-shadow: none;
    }
  }
}

#home-jumbo {
  height: 800px;
  background-color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0,0,0,0.3)),linear-gradient(to top, rgba(0, 0, 0, 0) 85%, rgba(0,0,0,0.4));

  > .page-header-content {
    top: 180px;
    bottom: auto;
    transition: all 0.25s ease-in-out;

    @include media-query($on-mobile) {
      position: static;
      background: $brand-color;
    }

    .container {
      //max-width: 900px;
    }

    .title {
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      transition: font-size 0.25s ease-in-out;
      margin:0;
      font-size: 74px;
      line-height: 0.9em;
      font-weight: bold;
      text-shadow: none;

      > small {
        color: $gray-700;
      }

      @include media-query($on-mobile) {
        font-size: 35px;
        padding-top:  15px;
        padding-bottom: 15px;
        text-shadow: none;
        color: rgba(255, 255, 255, 0.87);

        > small {
          color: rgba(255, 255, 255, 0.87);
        }
      }
    }
  }
}
