.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $brand-color;

  &.navbar-transparent {
    padding-top: 5px;

    .navbar-nav > li {
      > a {
        text-shadow: 0 0 20px black;
      }
    }

    @include media-query($on-mobile) {
      background-color: $brand-color;
    }
  }

  .navbar-nav > li {
    > a {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

@include media-query($on-mobile) {
  body {
    padding-top: 60px;
  }
}