// import the font
@font-face {
  font-family: Roboto;
  src: url($baseurl + "/css/fonts/Roboto-Light.ttf");
}

// basic styling
body {
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

@media (min-width: $on-mobile) {
  .container {
    max-width: 1400px;
    width: auto;
    padding: 0 24px;
  }
}