.material-icons {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  fill: currentColor;
}
[class*="primary"] .material-icons {
  fill: #FFF;
}
[class*="gray"] .material-icons {
  fill: #FFF;
}