.article {
  max-width: 948px;
  margin-top: 50px;
  margin-bottom: 100px;

  p {
    margin-bottom: 15px;
    font-size: 1.05em;
  }
}

blockquote {
  border-color: #E0E0E0;
}

.table.twin-head {
  tr > th {
    font-weight: bold;
    text-align: center;
  }
  tr > td {
    text-align: center;
  }
  tr > td:first-child {
    text-align: right;
    font-weight: bold;
  }
}

dl {
  dt {
    padding-top: 10px;
  }
}
